@import '../../ag-theme-base/sass/ag-theme-base';
@import './ag-theme-alpine-mixins';

@mixin ag-theme-alpine($params) {
    @include ag-grid-theme($params);
    .ag-root {
        border: 1px solid $chrome-border-color;
        border-radius: $border-radius;
    }

    .ag-header {
        border-bottom: 1px solid $chrome-border-color;
    }

    .ag-header-cell:not(:last-child) {
        border-right: 1px solid $chrome-border-color;
    }

    .ag-ltr .ag-cell:not(:last-child) {
        border-right: 1px solid $border-color;
    }

    // basic filter menu
    .ag-filter {
        .ag-filter-body-wrapper {
            padding: $grid-size * 2;
            .ag-filter-select,
            .ag-filter-body,
            .ag-filter-filter {
                margin: 0;
            }

            .ag-filter-select,
            .ag-filter-body,
            .ag-filter-condition {
                &:not(:last-child) {
                    margin-bottom: $grid-size * 2;
                }
            }

            .ag-filter-filter {
                @extend %input-text;
            }

            .ag-filter-select {
                @extend %select;
            }

            .ag-input-wrapper {
                overflow: visible;
            }
        }

        .ag-filter-apply-panel {
            padding: 0;
            padding-top: $grid-size * 3;
            margin: $grid-size * 2;
            margin-top: 0;
            border-top: 1px solid $border-color;

            button {
                @extend %button;
            }

            button[ref='eClearButton'] {
                @extend %reset-button;
            }
        }

        .ag-filter-condition input[type='radio'] {
            @extend %radio-button;
        }

        .ag-filter-condition label {
            @extend %label;
            margin-right: $grid-size;
        }
    }

    .ag-menu {
        background: $alpine-gray-5;

        .ag-menu-list {
            padding: $grid-size * 2;
            margin: 0;

            .ag-menu-option > span {
                padding-top: $grid-size;
                padding-bottom: $grid-size;
            }
        }
    }

    ////////////////////////////////////////
    // Popup
    ////////////////////////////////////////
    &.ag-popup > div:not(.ag-tooltip-custom) {
        border: 1px solid $chrome-border-color;
        border-radius: $border-radius;
        box-shadow: 0 0 2px 0.1rem transparentize($alpine-gray-4, 0.6);
    }

    ////////////////////////////////////////
    // Selection Checkbox
    ////////////////////////////////////////
    .ag-selection-checkbox input {
        @include checkbox;
    }

    ////////////////////////////////////////
    // Header Checkbox
    ////////////////////////////////////////
    .ag-checkbox {
        .ag-input-wrapper {
            overflow: visible;
        }

        input {
            @include checkbox;
        }
    }

    ////////////////////////////////////////
    // Header Checkbox
    ////////////////////////////////////////
    &.ag-popup .ag-tooltip {
        font-size: $tooltip-font-size;
        padding: $grid-size / 2 $grid-size;
    }
}
