$alpine-blue: #2196f3;
$alpine-orange: #ff9800;
$alpine-green: #76ff03;

$alpine-black: #223;
$alpine-white: #fff;

$alpine-gray-1: #383632;
$alpine-gray-2: #585652;
$alpine-gray-3: #68686e;
$alpine-gray-4: #babfc7;
$alpine-gray-5: #fcfdfe;

$alpine-light-pink: #fce4ec;
$alpine-dim-green: #43a047;
$alpine-dim-red: #e53935;
$alpine-deep-teal: #16a085;
